<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MediaEngineEntities" connectionString="metadata=.\ME.csdl|.\ME.ssdl|.\ME.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.66.201.59;initial catalog=MediaEngine;user id=sa;password=!QAZ2wsx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>