@model  LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutNoMenu.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.UserName, "帐号")
    @Html.TextBoxFor(m => m.UserName)
    <br />
    @Html.LabelFor(m => m.Password, "密码")
    @Html.PasswordFor(m => m.Password)
     <br />
    <input type="submit" value="登录" />
}